@import url("../common-style.css");

.overlay a img 
{
    width: 100%;
    height: 100%;
}

.overlay
{
	position: relative;
	width: 230px;
	height: 133px;    
    margin: 0; 
    overflow: hidden;    
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .3);
}

.overlay .map-link
{
	position: absolute;
    overflow: hidden;
	display: block;
	width: 100%;
	height: 45px;
    margin: 0;
	background-color: #111;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	transition: opacity .5s ease-in-out;
    padding-top: 8px;
}

.overlay:hover .map-link
{
	opacity: 0.8; 
}

.overlay a img
{
    transition: transform .5s ease-in-out;
}

.overlay:hover a img
{
    -webkit-transform: scale(1.1);	
	-ms-transform: scale(1.1);	
	transform: scale(1.1);	  
}

.map
{
    display: inline-block;
    margin: 1rem;
}

.map-link
{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.map-link:hover
{
    color: white;
}