@import url('../common-style.css');

.progress-container 
{  
  display: flex;
  position: relative;
  justify-content: space-between;
}

.progress-bar-back 
{
  position: absolute;
  height: 4px;
  background-color: lightgray;
  border: 2px solid lightgray;  
  margin: 0;
  top: 50%;
  transform: translateY(-50%); 
}

.progress-bar-front 
{
  position: absolute;
  height: 4px;
  width: 0%;
  background-color: green;  
  border: 2px solid green;  
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width .4s linear;  
  opacity: 1;  
}

.step 
{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid lightgray;
  color: lightgray;
  z-index: 1;
}

.step.checked 
{
  color: green;
  border-color: green;
  transition: all .4s linear;
  transition-delay: .3s;
}

.step.checked small 
{
  position: absolute;
  bottom: 30px;
  font-family: cursive; 
}

.button 
{
  background-color: #c34f4f;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.button:hover 
{
  background-color: #cf6969;
}

.button:active 
{
  transform: scale(.95);
}

.button:disabled 
{
  background-color: lightgray;
}

#poprzedni
{
  border-radius: 15px 5px 5px 15px;
}

#nastepny
{
  border-radius: 5px 15px 15px 5px;
}