@import url("../common-style.css");

#tekken
{
    margin: 0 auto;
    box-shadow: none;
}

.image-container
{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .7s ease-in-out;
    margin: 0 auto;
}

.image-container span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.image-container span img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-container
{
    position: relative;
    width: 100%;     
}

.przycisk
{
    position: absolute;
    bottom: -10px;
    background-color: #c34f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.przycisk:hover
{
    background-color: #c36969;
}

#prev
{
    left: 20%;
    border-radius: 15px 5px 5px 15px;
}

#next 
{
    right: 20%;
    border-radius: 5px 15px 15px 5px;
}

@media (max-width: 575px)
{    
    .image-container
    {
        width: 200px;
        height: 200px;
    }
}