@use "../../scss" as *;

.picture {
  height: auto;
  margin-inline: auto;

  &.large {
    border-radius: $border-radius-xl;
    width: 90%;

    @include breakpoint-down(lg) {
      border-radius: $border-radius-lg;
    }
  }

  &.responsive {
    border-radius: $border-radius-lg;
    width: 59%;

    @include breakpoint-down(lg) {
      border-radius: $base-border-radius;
      width: 80%;
    }

    @include breakpoint-down(sm) {
      width: 90%;
    }
  }
}
