@import url('../common-style.css');

.slider-container
{
    position: relative;
    width: 100%;
    height: 442px;
}

.zdjecie
{   
    position: absolute;
    right: 10%;   
    width: 80%;
    height: auto;
    transition: opacity .5s ease-in;    
}

.zdjecie + .zdjecie
{
    opacity: 0;
}

@media (max-width: 575px)
{
    .slider-container
    {
        height: 250px;
    }
}