@use "variables" as *;

h1,
h2,
h3 {
  letter-spacing: 0.1rem;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
  font-weight: 600;
  margin: 1rem 0;
}

h3 {
  font-weight: 500;
}

a,
a:active,
a:hover,
a:visited {
  color: $white;
  text-decoration: none;
}

p {
  font-size: $base-font-size;
  text-align: justify;
}

ul,
ol {
  list-style-type: none;
  & > li {
    font-size: $base-font-size;
    font-weight: 600;
  }
}
