//colors
$bg-color: #303030;
$dark-gray: #808080;
$light-gray: #ddd;
$primary: #c34f4f;
$secondary: #c36969;
$success: #039e03;
$white: #eeefff;

//borders
$base-border-white: 0.1rem solid $white;
$border-primary: 0.2rem solid $primary;
$base-border-radius: 0.5rem;

//fonts
$base-font-weight: 400;
$font-bold: 700;
$font-extra-bold: 900;

$base-font-size: 1.6rem;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2.5;

//
$base-opacity: 0.8;
$base-box-shadow: 0.3rem 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
