//colors
$primary: #c34f4f;
$bg-color: #303030;
$secondary: #c36969;
$success: #039e03;
$light-gray: #ddd;
$dark-gray: #808080;
$white: #eeefff;

//
$base-border-white: 0.1rem solid $white;
$base-opacity: 0.8;
$base-font-weight: 400;
$font-bold: 700;
$font-extra-bold: 900;
$base-font-size: 1.6rem;
