@use "../../scss" as *;

.navbar {
  background-color: $primary;
  z-index: 100;
}

.nav {
  &-link {
    background-color: transparent;
    color: $white !important;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: 600;

    &:hover,
    &:visited {
      color: $white;
    }
  }

  &-item {
    background-color: transparent;
    color: $white;
    font-size: $base-font-size * 1.2;
    padding: 0.5rem 1rem;

    @include breakpoint-up(lg) {
      border-left: $base-border-white;
      text-align: center;

      &:last-child {
        border-right: $base-border-white;
      }
    }
  }
}

.dropdown-item {
  background-color: $primary;
  border-bottom: $base-border-white;
  color: $white;
  font-size: $base-font-size;
  text-align: center;

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

.controller {
  width: 3rem;
  height: auto;
}
