@use "../../scss" as *;

@mixin nav-toggler {
  color: $white;
  border-color: $white;
}

.navbar {
  background-color: $primary;

  &-toggler {
    @include nav-toggler();

    &-icon {
      @include nav-toggler();
    }
  }
}

.nav {
  &-link {
    background-color: transparent;
    color: $white;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: $font-bold;

    &:hover,
    &:visited {
      color: $white;
    }
  }

  &-item {
    background-color: transparent;
    color: $white;
    font-size: $base-font-size * 1.2;
    padding: 0.5rem 1rem;

    @include breakpoint-up(md) {
      border-right: $base-border-white;
      text-align: center;
    }
  }
}

.dropdown-item {
  background-color: $primary;
  border-bottom: $base-border-white;
  color: $white;
  font-size: $base-font-size;
  text-align: center;

  &.active {
    background-color: $secondary;
    cursor: default;
  }

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

.bi-controller {
  width: 3rem;
  height: auto;
}
