@import url("../common-style.css");

#moje_zdjecie
{
    box-shadow: none;
    transform: none;
}

.social
{
    background-color: #3a3939;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallink
{
    text-decoration: none;
    color: white;
}

a.sociallink:hover
{
    color: white;
}

.fb
{    
    background-color: #4668b3;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb:hover
{
    background-color: #3557a2;
}

.in
{
    background-color: blue;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in:hover
{
    background-color: #0f28b4;
}

.gh
{
    background-color: black;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gh:hover
{
    background-color: #1f1e1e;
}

.stats-container
{    
    border: dotted #c34f4f 1px;    
    height: 100px;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.stats-container h5
{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.icon
{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;    
}

.counter
{
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #c34f4f;
}